/* *************** ESTILOS GENERALES ***************  */
* {
  padding: 0%;
  margin: 0%;
}

/* *************** BODY ***************  */
body {
  background: rgb(201, 219, 219);
  width: 100%;
  height: 100px;
}

/* *************** HEADER ***************  */
.header {
  width: 100%;
  height: 120px;
  background-color: black;
}
.container {
  max-width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .menu-buscador-logo {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.container .menu-buscador-logo label {
  color: #fff;
  font-size: 25px;
  margin-left: 40px;
  cursor: pointer;
}

.logo {
  margin-left: 30px;
}

.menu-buscador {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
}
.container .menu a {
  padding: 15px;
  text-decoration: none;
  color: #fff;
  transition: all 0.4s;
  font-size: 15px;
  margin-right: 5px;
}
.container .menu a:hover {
  border-bottom: 2px solid #ffffff;
  padding-bottom: 5px;
}

.buscador {
  height: max-content;
}

input.buscador {
  padding: 7px 9px 9px 32px;
  outline: none;
  font-size: 16px;
  border: 2px Solid #ffffff;
  border-radius: 100px;
  color: rgb(173, 169, 169);
  background: url(../img/search-icon.png) no-repeat 9px center;
  width: 250px;
  transition: all 1s;
}

input.buscador:focus {
  width: 300px;
}

/* *************** NAVEGADOR ***************  */
#btn-menu {
  display: none;
}
.container-menu {
  max-width: 100%;
  background: rgb(0, 0, 0);
  border-bottom: #1f1f1f solid 7px;
  height: 100%;
  max-height: max-content;
  transition: all 500ms ease;
  display: none;
}
#btn-menu:checked ~ .container-menu {
  display: flex;
  max-width: 100%;
}
.categorias {
  width: 100%;
  height: 100px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto;
  background: #000000;
  justify-content: flex-start;
  align-content: center;
  row-gap: 20px;
  transition: all 500ms ease;
}

.categorias li a {
  text-decoration: none;
  padding: 10px 50px;
  margin: 3px;
  color: white;
  font-size: 20px;
  transition: all 400ms ease;
}

li {
  list-style: none;
}

.categorias li a:hover {
  border-left: 5px solid #c7c7c7;
  background: #1f1f1f;
}
.categorias label {
  position: absolute;
  left: 25px;
  top: 115px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto;
  background: #000000;
  justify-content: flex-start;
  align-content: center;
  row-gap: 20px;
  transition: all 500ms ease;
}

.categorias li a {
  text-decoration: none;
  padding: 10px 50px;
  margin: 3px;
  color: white;
  font-size: 20px;
  transition: all 400ms ease;
}

li {
  list-style: none;
}

.categorias li a:hover {
  border-left: 5px solid #c7c7c7;
  background: #1f1f1f;
}
.categorias label {
  position: absolute;
  left: 25px;
  top: 115px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
}

/* *************** MAIN ***************  */
.main {
  background: #000;
  width: 100%;
  display: flex;
  max-width: 100%;
}

.banner {
  width: 100%;
  height: auto;
  margin: 50px auto 0;
  animation: slide 16s infinite alternate ease-in-out;
  
}


.banner ul {
  display: flex;
  padding: 0;
  width: 400%;
}

.banner li {
  list-style: none;
  width: 100%;
  height: auto;
  margin: 0 200px 50px;
}

banner img {
  max-width: 100%;
}

.description_banner {
  background-color: rgba(255, 255, 255, 0.2);
  position: absolute;
  top: 900px;
  right: 300px;
  left: 300px;
}

.title_main {
  
  color: #000;
  text-align: center;
  font-size: 30px; 
}

.text_main {
 color: #000;
 text-align: center;
 font-size: 25px;
}

@keyframes slide {
  0% {margin-left: 0%;}
  20% {margin-left: 0%;}

  25% {margin-left: -100%;}
  45% {margin-left: -100%;}

  50% {margin-left: -200%;}  
  70% {margin-left: -200%;}

  75% {margin-left: -300%;}  
  100% {margin-left: -300%;}
}

#upBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 70px;
  height: auto;
}

.subtitle {
  color:white;
  text-align: center;
  width: 100%;
  height: auto;
  background-color: #000;
}

.about {
  letter-spacing: 2px;
  width: 100%;
  background-color: #000;
  text-align: center;
  padding-top: 40px;
  }


.about p {
  margin: auto;
  color: #fff;
  padding: 50px;
  font-size: 24px;
  width: 400px;
  height: auto;
  
}


/* *************** FORMULARIO ***************  */
.form {
  height: 575px;
  background-image: url(../img/fondoFormulario01.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
/*
.container {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.tituloFormulario {
  text-align: center;
  color: white;
}

.container {
  border-width: 4440px;
}

.form > .container {
  background: linear-gradient(rgba(5, 7, 12, 0.65), rgba(5, 7, 12, 0.65));
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-radius: 1.5%;
}

.form > .container > div > form > div > input {
  border: none;
  outline: none; /* Quitar borde al seleccionar elemento */
  border-bottom: 1px solid rgb(1, 1, 26);
}

.form > .container > div > form > div > label {
  color: grey;
}

.form > .container > div > form > div > input::placeholder {
  color: black;
}

.form > .container > div > form > div > textarea::placeholder {
  color: black;
}

.submit {
  border-width: 100px;
}

/* *************** FOOTER ***************  */
.footer {
  background: url(../img/5137843.jpg) center;
  background-size: cover;
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.textFooter {
  text-align: center;
  align-items: center;
  color: white;
  font-size: 16px;
  letter-spacing: 1px;
  font: weight 500px;
  line-height: 28px;
}
