/* *************** ESTILOS GENERALES ***************  */
* {
  padding: 0%;
  margin: 0%;
}

/* *************** BODY ***************  */
body {
  background: rgb(0, 0, 0);
  width: 100%;
/*   display: flex;
  flex-direction: column;
  flex-wrap: wrap; */
  font-family: 'Cantora One'
}

/* *************** HEADER ***************  */
.header {
  width: 100%;
  min-height: max-content;
  background-color: rgba(0, 0, 0,0.6);
  padding-top: 10px;
  position: fixed;
  z-index: 10;
  margin-bottom: 50px;
}
.containerCss {
  max-width: 90%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.containerCss .menu-buscador-logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.containerCss .menu-buscador-logo label {
  color: #fff;
  font-size: 25px;
  margin-left: 40px;
  cursor: pointer;
}

.logo {
  width: 85px;
  height: auto;
  margin-left: 30px;
  cursor: pointer;
}

.menu-buscador {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
}
.containerCss .menu a {
  padding: 15px;
  text-decoration: none;
  color: #fff;
  transition: all 0.4s;
  font-size: 16px;
  letter-spacing: 1.5px;
  margin-right: 5px;
}
#mostrar {
  display: none;
}
.containerCss .menu a:hover {
  border-bottom: 2px solid #ffffff;
  padding-bottom: 5px;
}

.buscador {
  height: max-content;
}

input.buscador {
  padding: 7px 9px 9px 32px;
  outline: none;
  font-size: 16px;
  border: 2px Solid #ffffff;
  border-radius: 100px;
  color: rgb(173, 169, 169);
  background: url(../img/search-icon.png) no-repeat 9px center;
  width: 250px;
  transition: all 1s;
}

  
input.buscador:focus {
  width: 300px;
  background-color: white;
  color: #000;
  letter-spacing: 1.5px;
}

/* *************** NAVEGADOR ***************  */
#btn-menu {
  display: none;
}
.container-menu {
  display: none;
}

#btn-menu:checked ~ .container-menu {
  display: flex;
}

.categorias {
  width: 100%;
  max-width: 350px;
  background: rgba(0, 0, 0,0.85);
  height: 100vh;
}

.categorias li a {
    display: block;
		text-decoration: none;
		padding: 20px;
		color: #c7c7c7;
		border-left: 5px solid transparent;
		transition: all 400ms ease;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 2px;
}

li {
  list-style: none;
}

.categorias li a:hover {
  border-left: 5px solid #c7c7c7;
  background: #1f1f1f;
}

.categorias li a:hover {
  border-left: 5px solid #c7c7c7;
  background: #1f1f1f;
}
.categorias label {
  position: absolute;
  left: 315px;
  top: 115px;
  color: #fff;
  cursor: pointer;
  font-size: 24px;
}

/* *************** MAIN ***************  */
main {
  background-color: #000;
  width: 100%;
  display: flex;
  min-width: 100%;
  overflow: hidden;

}

.banner {
  width: 100%;
  height: 750px;
  animation: slide 16s infinite alternate ease-in-out;
  margin-top: 100px;
}

.banner .image {
  display: flex;
  width: 400%;
}

.banner li {
  list-style: none;
  width: 100%;
  list-style: none;
}

.banner img {
  min-width: 100%;
  height:750px;
}

.description_banner {
  background-color: rgba(255, 255, 255, 0.2);

}

.title_main {
  
  color: #000;
  text-align: center;
  font-size: 30px; 
}

.text_main {
 color: #000;
 text-align: center;
 font-size: 25px;
}

@keyframes slide {
  0% {margin-left: 0%;}
  20% {margin-left: 0%;}

  25% {margin-left: -100%;}
  45% {margin-left: -100%;}

  50% {margin-left: -200%;}  
  70% {margin-left: -200%;}

  75% {margin-left: -300%;}  
  100% {margin-left: -300%;}
}

#upBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 70px;
  height: auto;
}

@keyframes scale-up-hor-left {

}

.subtitle {
  color:white;
  font-size: 62px;
  letter-spacing: 8px;
  padding: 20px;
  text-align: center;
  height: auto;
  background-color: #000;
  animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@keyframes text-focus-in {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
-webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
-webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}


.about {
  letter-spacing: 2px;
  width: 100%;
  background-color: #000;
  text-align: center;
  padding-top: 40px;
  text-align: center;
  }


.about p {
  margin: auto;
  color: #fff;
  padding: 20px;
  font-size: 24px;
  width: 100%;
  height: auto;
  letter-spacing: 2px;

}

.about h3{
  font-size: 40px;
  letter-spacing: 3px;
  color: white;
/*   padding: 20px 20px 60px 20px;
 */}

.about-bottom {
  padding: 40px 40px 60px 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;  
}

.about img {
  animation: wobble-hor-bottom 1.5s infinite both;
}

@keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
            transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
            transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
            transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
            transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
            transform: translateX(-6px) rotate(-1.2deg);
  }
}


/* API */

.containerTragos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 30px;
  row-gap: 50px;
  padding: 40px;
}

.cardCss {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardCss h3 {
  color: white;
} 

.tragoFoto {
  width: 300px;
  height: 250px;
}

.myButton {
	box-shadow: 0px 1px 0px 0px #fff6af;
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color:#ffec64;
	border-radius:0px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#666566;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 121px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
  width: 100%;
  text-align: center;
}
.myButton:hover {
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	background-color:#ffab23;
}
.myButton:active {
	position:relative;
	top:1px;
}

#view {
  visibility: hidden;
  display: none;
}

.prep { 
  max-width: max-content;
  height: 400px;
  background-color: white;
  color: #000;
  text-align: center;
  padding: 15px;
  display: none;
}

.close {
  cursor: pointer;
  font-size: 24px;
  font-weight: bolder;
}

.close:hover {
  color: #666566;
}


#view:checked ~ .prep {
display: block;
position: fixed;
top: 25%;
left: 25%;
width: 50%;
z-index: 15;
}

.indice {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.indice p, .indice a {
  font-size: 24px;
  text-decoration: none;
  color: white;
  letter-spacing: 10px;
}

.indice a:hover {
  color:#666566;
}


/* *************** FORMULARIO ***************  */
.form {
  height: 575px;
  background-image: url(../img/fondoFormulario01.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
/*
.container {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.tituloFormulario {
  text-align: center;
  color: white;
}

.container {
  border-width: 4440px;
}

.form > .container {
  background: linear-gradient(rgba(5, 7, 12, 0.65), rgba(5, 7, 12, 0.65));
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-radius: 1.5%;
}

.form > .container > div > form > div > input {
  border: none;
  outline: none; /* Quitar borde al seleccionar elemento */
  border-bottom: 1px solid rgb(1, 1, 26);
}

.form > .container > div > form > div > label {
  color: grey;
}

.form > .container > div > form > div > input::placeholder {
  color: black;
}

.form > .container > div > form > div > textarea::placeholder {
  color: black;
}

.submit {
  border-width: 100px;
}

/* *************** FOOTER ***************  */
.footer {
  background-color: #000;
  width: 100%;
  height: 140px;
  display: flex;
  justify-content: center;
}

.textFooter {
  text-align: center;
  color: white;
  font-size: 16px;
  letter-spacing: 3px;
  font: weight 500px;
  line-height: 28px;
  padding: 10px;
}


/* RESPONSIVE */

@media (max-width:896px) {
  .containerCss {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
  }
}

@media (max-width:797px) {
  .header {
    background-color: rgba(0, 0, 0,0.6);
    padding-bottom: 5px;
  }

  #mostrar {
    display: flex;
    align-items: center;
  }

  #noMostrar774px{
    display: none;
  }

  .containerCss {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
  }

  .menuResponsive{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .containerCss .menu-buscador-logo {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 5px;
    width: 100%;
  }

  input.buscador {
    padding: 2px 5px 5px 32px;
    outline: none;
    font-size: 18px;
    border: 2px Solid #ffffff;
    border-radius: 100px;
    color: rgb(173, 169, 169);
    background: url(../img/search-icon.png) no-repeat 7px center;
    width: 250px;
    transition: all 1s;
  }

  

  .categorias li a {
      padding: 20px;
      color: #c7c7c7;
      border-left: 5px solid transparent;
      transition: all 400ms ease;
      font-size: 17px;
      font-weight: 600;
      letter-spacing: 2px;
  }

  
  .categorias label {
    position: absolute;
    left: 315px;
    top: 175px;
    color: #fff;
    cursor: pointer;
    font-size: 24px;
  }

  .banner {
    width: 100%;
    height: 750px;
    animation: slide 16s infinite alternate ease-in-out;
    margin-top: 153px;
  }

}

